---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Whoops — Omran Jamal">
	<div class="mx-auto flex max-w-screen-sm flex-col items-center">
		<h1 class="mt-16 text-center text-6xl font-black text-pink-600">404 - NOT FOUND</h1>
		<p class="mt-12 text-center text-5xl font-bold">
			Here's a GIF of my servers looking for that page.
		</p>
		<iframe
			src="https://giphy.com/embed/xCwYFe19SldXLrJlwm"
			class="giphy-embed my-16 h-72 w-72"
			allowfullscreen
		>
		</iframe>
	</div>
</Layout>
