---
import Layout from "../layouts/Layout.astro";
import { ChevronUp, ExternalLink } from "react-feather";
import HeroSubtitles from "../components/HeroSubtitles";
---

<Layout title="Mahibul Haque">
	<Fragment slot="head">
		<meta name="og:type" content="profile" />
		<meta name="profile:first_name" content="Mahibul" />
		<meta name="profile:last_name" content="Haque" />
		<meta name="profile:username" content="mahibulhaque" />
		<meta name="profile:gender" content="male" />
	</Fragment>

	<section class="mt-10 flex flex-col items-center">
		<div class="flex flex-col">
			<div
				class="text-[3rem] leading-[0.85em] font-black sm:text-[4rem] md:text-[5rem] lg:text-[6.5rem] xl:text-[8rem]"
			>
				Hello, I'm
			</div>
			<div
				class="text-[5rem] leading-[0.85em] uppercase sm:text-[8rem] md:text-[10rem] lg:text-[14rem] xl:text-[16rem]"
			>
				<div class="-ml-8 font-black sm:-ml-16 md:-ml-24 lg:-ml-32 xl:-ml-40">
					Mahib<span class="relative"
						><div aria-hidden="true" class="absolute top-0 left-0 hidden h-0 w-0 md:block">
							<div class="absolute -bottom-12 -left-0 flex w-72 flex-row items-center lg:-left-10">
								<img src="/images/pin.svg" class="h-24 w-24" alt="pin icon" />
								<div class="text-sm normal-case">
									<div class="leading-[0.5em] font-light">Currently Based In</div>
									<div class="text-lg font-semibold">Dhaka, Bangladesh</div>
								</div>
							</div>
						</div>ul</span
					>
				</div>
				<div class="font-black">
					Ha<span
						class:list={[
							"relative before:absolute before:top-0 before:right-0 before:bottom-0 before:left-0 before:-z-10 before:m-auto before:block before:h-[35%] before:w-[40%] before:rounded-full before:bg-cover",
							`before:bg-[url(/images/me.jpeg)]`,
						]}
						><div
							aria-hidden="true"
							class="absolute top-0 bottom-0 left-0 m-auto hidden h-0 w-0 text-3xl leading-5 font-normal normal-case md:block"
						>
							<div class="absolute right-0 -bottom-36 left-6 mx-auto h-[2.5em] w-0">
								<div class="font-just-me absolute right-0 bottom-0 left-0 mx-auto w-32 text-center">
									That's My Gravatar
									<div
										class="absolute -top-16 right-0 left-0 mx-auto flex h-16 w-6 flex-col items-center justify-end after:mx-auto after:block after:h-full after:w-[2.5px] after:bg-[#FF5FF9]"
									>
										<ChevronUp color="#FF5FF9" size={48} />
									</div>
								</div>
							</div>
						</div>q</span
					>ue<span class="relative"
						><div
							class="absolute top-0 -right-32 bottom-0 my-auto hidden h-32 text-sm font-light md:block"
						>
							<a
								target="_blank"
								href="https://github.com/mahibulhaque"
								class="mx-2 flex space-x-2 transition-colors hover:text-pink-500"
							>
								<span>Github</span>
								<ExternalLink className="w-4" />
							</a>
							<a
								target="_blank"
								href="https://twitter.com/MahibulHaque"
								class="mx-2 flex space-x-2 transition-colors hover:text-pink-500"
							>
								<span>Twitter</span>
								<ExternalLink className="w-4" />
							</a>
							<a
								target="_blank"
								href="https://bd.linkedin.com/in/mahibulhaque"
								class="mx-2 flex space-x-2 transition-colors hover:text-pink-500"
							>
								<span>LinkedIn</span>
								<ExternalLink className="w-4" />
							</a>
							<a
								target="_blank"
								href="https://facebook.com/mahib.haque"
								class="mx-2 flex space-x-2 transition-colors hover:text-pink-500"
							>
								<span>Facebook</span>
								<ExternalLink className="w-4" />
							</a>
						</div></span
					>
				</div>
			</div>
		</div>
		<div class="my-6 flex flex-row items-center md:hidden">
			<img src="/images/pin.svg" class="h-12 w-12" alt="pin icon" />
			<div class="text-sm normal-case">
				<div class="leading-[0.5em] font-light">Currently Based In</div>
				<div class="text-lg font-semibold">Dhaka, Bangladesh</div>
			</div>
		</div>
		<section class="mt-4 w-3/4 md:mt-10 lg:mt-16">
			<p class="font-jetbrains-mono h-24 text-base sm:text-xl lg:text-3xl lg:leading-snug">
				<strong>Engineer</strong>
				who loves <span class="bg-yellow-100"><HeroSubtitles client:idle /></span>
			</p>
			<p class="mt-8 text-center md:hidden">
				<a
					target="_blank"
					href="https://github.com/mahibulhaque"
					class="mx-2 inline-flex space-x-2 transition-colors hover:text-pink-500"
				>
					<span>Github</span>
					<ExternalLink className="w-4" />
				</a>
				<a
					target="_blank"
					href="https://twitter.com/MahibulHaque"
					class="mx-2 inline-flex space-x-2 transition-colors hover:text-pink-500"
				>
					<span>Twitter</span>
					<ExternalLink className="w-4" />
				</a>
				<a
					target="_blank"
					href="https://bd.linkedin.com/in/mahibulhaque"
					class="mx-2 inline-flex space-x-2 transition-colors hover:text-pink-500"
				>
					<span>LinkedIn</span>
					<ExternalLink className="w-4" />
				</a>
				<a
					target="_blank"
					href="https://facebook.com/mahib.haque"
					class="mx-2 inline-flex space-x-2 transition-colors hover:text-pink-500"
				>
					<span>Facebook</span>
					<ExternalLink className="w-4" />
				</a>
			</p>
		</section>
	</section>
	<section>
		<br />
	</section>
</Layout>
